:root {
	--dark-blue: hsl(243, 87%, 12%);
	--desaturated-blue: hsl(238, 22%, 44%);
	--bright-blue: hsl(224, 93%, 58%);
	--moderate-cyan: hsl(170, 45%, 43%);
	--light-graish-blue: hsl(240, 75%, 98%);
	--light-gray: hsl(0, 0%, 75%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.5;
	font-weight: 600;
	text-align: center;
}

.site {
	max-width: 1400px;
	margin: 0 auto;
}

header,
section,
main {
	width: 100%;
	margin: 0 auto;
	padding-block: 2rem;
}

li {
	list-style: none;
}

p {
	font-family: "Open Sans", "Helvetica Neue";
	font-weight: 400;
}

h1,
h2,
h3,
button,
input,
li {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
}

img {
	width: 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.header-container {
	justify-content: space-between;
	margin-block: 1em;
	padding-inline: 5px;
}

.nav-menu {
	display: flex;
	flex-direction: row;
}

#logo {
	width: 100px;
}

.nav-item {
	margin-right: 1em;
	font-weight: 400;
}

section > img {
	object-fit: fill;
}

section * {
	margin-block: 1rem;
}

.text,
.contact-container {
	width: 80%;
	margin: 1rem auto;
}

.email-input {
	height: 2rem;
	border-radius: 5px;
	border: 1px solid #000;
	font-weight: 400;
}

.email-input::placeholder {
	opacity: 0.35;
	padding: 1em;
}

.btn {
	background-color: var(--bright-blue);
	color: var(--light-graish-blue);
	margin-top: 0;
	height: 2rem;
	border-radius: 5px;
	border: transparent;
}

.main-section {
	background-color: var(--light-graish-blue);
}

.main-section-image {
	background-image: url("./images/bg-curve-mobile.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.main-image-container {
	margin-bottom: 3rem;
}

main .main-title {
	font-size: 1rem;
	margin-block: 2em;
}

main .text {
	text-align: start;
	width: 100%;
	padding-inline: 1em;
	margin-bottom: 2em;
}

.page-link {
	width: 50%;
	margin: 0 auto;
}

.page-link > a {
	color: var(--moderate-cyan);
	font-size: 14px;
	padding: 5px 0;
	display: inline-block;
	text-decoration: none;
	border-bottom: solid 0.4px var(--moderate-cyan);
}

#arrow-icon {
	width: 1em;
	margin-left: 5px;
	float: right;
}

.align-left {
	text-align: left;
}

.card {
	background-color: white;
	background-image: url("/images/icon-quotes.svg");
	background-position-x: 1em;
	background-position-y: 1em;
	background-repeat: no-repeat;
	width: 90%;
	margin: 2em auto;
	border-radius: 5px;
	padding: 1em;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.bottom-card-area {
	gap: 1em;
	align-items: center;
	justify-content: flex-start;
}

.card-profile-image > img {
	border-radius: 50%;
}

.card-profile-image {
	width: 50px;
}

.card > p {
	margin-block: 1em;
}

.avatar-name {
	margin-bottom: 5px;
	font-weight: 900;
	font-size: 1.1rem;
}

.avatar-position {
	font-weight: 400;
	font-size: 0.9rem;
}

.cta {
	background-color: var(--desaturated-blue);
	color: var(--light-graish-blue);
	margin-bottom: 0;
}

footer {
	background-color: var(--dark-blue);
	color: var(--light-graish-blue);
	padding-bottom: 3em;
}

footer > * {
	margin-left: 10%;
}

.contact img,
.social-media img {
	width: 20px;
	margin: 0 1em 0 0;
	text-align: center;
}

#footer-logo {
	padding-block: 3em;
	width: 50%;
	max-width: 200px;
}

.contact,
.link-nav {
	margin-bottom: 3rem;
}

.link-item,
.contact-item {
	margin-bottom: 1em;
	font-weight: 400;
	text-align: left;
}

.social-media {
	margin: 0;
}

.social-media-nav {
	justify-content: center;
}

.social-media-item {
	padding: 0.5em;
	font-size: 1.5em;
}

@media screen and (min-width: 768px) {
	.text-container {
		width: 80%;
		margin: 0 auto;
	}

	.contact-container {
		width: 50%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1024px) {
	#logo {
		margin-left: 5%;
	}

	.top-section,
	.main-section {
		flex-direction: row-reverse;
		align-items: center;
	}

	.contact-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 1em;
		justify-content: space-around;
	}

	.email-input {
		margin: 0;
		flex-grow: 1;
	}

	.btn {
		margin: 0;
		text-align: center;
		flex-grow: 1;
	}

	.text-container {
		text-align: left;
		margin-left: 5%;
	}

	.text {
		margin-left: 0;
	}
}
